.docker
.git
.github
.vscode
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

docs

.ruff_cache
.pytest_cache
.mypy_cache
.DS_Store
.idea
.vscode
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.secrets
.venv
data
docs
